body{
    background-color:whitesmoke;
}


img{
border: 3px solid rgb(114, 206, 229);
border-radius: 20px;
}
.text{
font-size: 60px;
text-align: center;
writing-mode: vertical-lr;
padding-top: 50px;
animation-name: light;
animation-duration: 6s;
animation-delay: 1s;
animation-iteration-count: infinite;
}@keyframes light{
0%{
    color: aqua;
}
50%{
    color:orange;
}
100%{
    color: rgb(12, 12, 11);
}
}


